


<div class="container align-center">
  <div class="row" >
    <h1 class="display-4">Modificar Persona</h1>
    <div class="col-md-4 col-xs-12 bg-light">
      <form class="form-group">
        <label for="txtNombre">Nombre</label>
        <input type="text" [(ngModel)]="persona.nombre" class="form-control" id="txtNombre" name="nombre" > <!--[placeholder]="persona.nombre"-->
        <label for="txtApellido">Apellido</label>
        <input type="text" [(ngModel)]="persona.apellido" class="form-control" id="txtApellido" name="apellido">
      </form>
    </div>
    <div class="col-md-4 col-xs-12 bg-light ">
      <form class="form-group">
        <label for="txtDni">DNI</label>
        <input type="text" [(ngModel)]="persona.dni" class="form-control" id="txtDni" name="dni">
        <label for="txtApellido">Sexo</label>
        <select [(ngModel)]="persona.sexo" class="form-control form-control-sm"  id="cmbSexo" name="cmbSexo">
          <option *ngFor="let item of listaSexos" value="{{item.resNombreSexo}}">{{item.resNombreSexo}}</option>
        </select>
        
      </form>
      
    </div>
    
  </div>

  <div class="row ">
    
    <div class="col-md-4 col-xs-12 bg-light ">
      <br><button class="btn btn-primary "(click)="modificarPersona()">Modificar</button><br>
    </div>
    <div class="col-md-4 col-xs-12 bg-light "></div>
    
  </div>
</div>






